<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Update Student</title>
   <div th:insert="header :: header"></div>
</head>

<body>
   <div th:insert="navbar :: navbar"></div>
   <div class="container mt-5">
      <div class="row d-flex justify-content-center">
         <div class="card my-5">
            <div class="card-header d-flex align-items-center">
               <div class="mr-auto">
                  <h1 class="">Update Student Details</h1>
               </div>
               <div class="mr-2">
                  <a th:href="@{/students}" class="btn btn-primary">All Students</a>
               </div>
               <div class="">
                  <a th:href="@{/student/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
               </div>
            </div>
            <div class="card-body">
               <form th:action="@{/student/update/{id} (id=${student.id})}" th:object="${student}" method="post"
                  enctype="multipart/form-data">
                  <div class="row">
                     <div class="col-12 col-md-6">
                        <div class="form-group">
                           <label for="fname">First Name</label>
                           <input type="text" class="form-control" id="fname" name="firstName" th:field="*{firstName}"
                              placeholder="First Name">
                        </div>
                     </div>
                     <div class="col-12 col-md-6">
                        <div class="form-group">
                           <label for="lname">Last Namel</label>
                           <input type="text" class="form-control" id="lname" name="lastName" th:field="*{lastName}"
                              placeholder="Last Name">
                        </div>
                     </div>
                     <div class="col-12 col-md-6">
                        <div class="form-group">
                           <label for="rollNo">Roll No.</label>
                           <input type="number" class="form-control" id="rollNo" name="rollNo" th:field="*{rollNo}"
                              placeholder="Roll Number" min="1">
                        </div>
                     </div>
                     <div class="col-12 col-md-6">
                        <div class="form-group">
                           <label for="email">Email ID</label>
                           <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                              placeholder="Email ID">
                        </div>
                     </div>
                     <div class="offset-md-3"></div>
                     <div class="offset-md-5"></div>
                     <div class="col-12 col-md-6">
                        <button type="submit" class="btn btn-success">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <div th:insert="footer :: footer"></div>
</body>

</html>